@use '../base';

// Color

$dark-color: #2C0022;
$light-color: #F2E9F0;

//Typography

$josefine: 'Josefin sans', sans-serif;
$raleway : 'Raleway', sans-serif;
$roboto-slab : 'Roboto Slab', serif;


// Font Weight

$regular:  400;
$semi-bold: 600;
$bold: 700;