@use '../base';
@use '../abstracts';

.sun,
.moon {
    position: fixed;
    left: 1%;
    top: 50%;
    z-index: 99;
    border: 0px solid transparent;
    background-color: transparent;
    width: 5rem;

    @media screen and (max-width: 599px) {
        position: absolute;
        top: 74%;
    }
}